<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <a class="navbar-brand text-light" href="#">Stationary Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home</a>
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
        <a class="nav-item nav-link" href="#">Services</a>
      </div>
    </div>
  </nav>
  <h1 class="text-center text-warning" >Stationary Store</h1>
	<div id="wrap">
	<div id="columns" class="columns_4">
  <figure>
  <img src="https://www.pngitem.com/pimgs/m/4-43235_transparent-background-stationery-png-png-download.png">
	<figcaption>stationary items</figcaption>
    <span class="price">500rs</span>
    <a class="button" href="#" routerLink="/login">Buy Now</a>
	</figure>
	
	<figure>
	<img src="https://www.pngitem.com/pimgs/m/390-3901725_12-glitter-gel-pens-etiquette-plastic-hd-png.png" style="width:200px; height:140px">
	<figcaption>Gliter</figcaption>
    <span class="price">500rs</span>
    <a class="button" href="#" routerLink="/login">Buy Now</a>
	</figure>
	
  <figure>
	<img src="https://pngimg.com/uploads/glue/glue_PNG50.png"  style="width:200px; height:140px">
	<figcaption>Glue</figcaption>
    <span class="price">500rs</span>
    <a class="button" href="#" routerLink="/login">Buy Now</a>
	</figure>
  
	<figure>
	<img src="https://www.pngitem.com/pimgs/m/4-43235_transparent-background-stationery-png-png-download.png">
	<figcaption>compass</figcaption>
    <span class="price">500rs</span>
    <a class="button" href="#" routerLink="/login">Buy Now</a>
	</figure>
	
   <figure>
	 <img src="https://media3.giphy.com/media/QuJNBICobFXNHlUbol/200w.gif?cid=82a1493b07hy8pe2o7agqhq2c2cvtb1ruoxi99zgwz6iy9n8&rid=200w.gif&ct=s" width="200px" height="140px">
	<figcaption>glitters</figcaption>
    <span class="price">500rs</span>
    <a class="button" href="#" routerLink="/login">Buy Now</a>
	</figure>
	
   <figure>
	 <img src="https://www.pngitem.com/pimgs/m/4-43235_transparent-background-stationery-png-png-download.png">
	<figcaption>Marker Parmanent</figcaption>
     <span class="price">500rs</span>
     <a class="button" href="#" routerLink="/login">Buy Now</a>
	</figure>
  
  <figure style="height:140px">
    <embed src="https://www.youtube.com/embed/P6Po1KoJ6mE" type="" width="240px" >
        <figcaption>Watch Best Stationary under Budget</figcaption>
        <span class="price"></span>
        <a class="button" href="https://www.youtube.com/embed/P6Po1KoJ6mE">Watch Now</a>
	</figure>
  
   <figure style="height:140px">
    <embed src="https://www.youtube.com/embed/C1c_p9jXRPI" type="" width="240px" >
        <figcaption>Watch Best Stationary under Budget</figcaption>
        <span class="price"></span>
        <a class="button" href="https://www.youtube.com/embed/C1c_p9jXRPI">Watch Now</a>
	</figure>
	
</div>


<footer>
  <p>&copy;MyWebsite 2022</p>
</footer>